.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background: white;
}

@media screen and (max-width: 750px) {
    .search-container {
        flex-direction: column;
        height: auto;
    }
}

.logo-container {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .logo-container {
        flex-direction: column;
    }
}


.insta-icon {
    width: 50px;
    margin: 30px;
    border-right: 1px solid black;
}

@media screen and (max-width: 750px) {
    .insta-icon{
        display: none;
    }
}

.insta-icon img {
    width: 100%;
    padding-right: 30px;
}

.insta-logo {
    width: 100px;
}

.insta-logo img {
    width: 100%;
    padding-top: 10px;
}

.search-input-container {
    border-radius: 5px;
    display: flex;
    align-items: center;
    align-self: center;
    width: 200px;
}

@media screen and (max-width: 750px) {
    .search-input-container {
        margin-bottom: 20px;
    }
}

.search-input-container label {
    color: lightgray;
    width: 20%;
}

.search-input-container input {
    width: 80%;
}

.icon-container {
    font-size: 1.2rem;
    width: 230px;
    display: flex;
    justify-content: space-around;
    padding-right: 30px;
}

@media screen and (max-width: 975px) {
    .icon-container {
        display: none;
    }
}

button {
    width: 150px;
    background-color: lightgray;
    border-radius: 20px;
    height: 30px;
    margin-top: 20px;
    margin: 0 40px 0 0;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    button {
        margin: 0;
    }
}