.login-form {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.logo-image {
    background: white;
    height: 70px;
    display: flex;
    justify-content: center;
}

.logo-image img {
    height: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #FAFAFA;
    height: calc(100vh - 70px);

}

.form-container {
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: yellow;
}

.login-input {
    margin: 20px;
}

a .login-button {
    width: 150px;
    background-color: lightgray;
    border-radius: 20px;
    height: 30px;
    margin-top: 20px;
    margin-right: 0px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    
}

p {
    font-size: 12px;
}

p a {
    color: gray;
    text-decoration: none;
}

.login {
    font-size: 13px;
}

.login a {
    margin-left: 10px;
    text-decoration: none;
    color: gray;
}

.download-from-app-store {
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-from-app-store  #apple {
    width: 150px;
}

.download-from-app-store  #google {
    width: 185px;
}
